<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>采集规则测试</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/static/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <!-- 测试列表页 -->
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>测试列表页规则</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t"  id="testlist" method="post" onsubmit="return toVaild()">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">采集站点地址：</label>
                            <div class="input-group col-sm-6">
                                <input id="baseurl" type="url" class="form-control" name="baseurl" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">列表页地址：</label>
                            <div class="input-group col-sm-6">
                                <input id="url" type="url" class="form-control" name="url" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">标题父层规则：</label>
                            <div class="input-group col-sm-6">
                                <input id="range" type="text" class="form-control" name="range" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标题规则：</label>
                            <div class="input-group col-sm-6">
                                <input id="title" type="text" class="form-control" name="title" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章地址规则：</label>
                            <div class="input-group col-sm-6">
                                <input id="ahref" type="text" class="form-control" name="ahref" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交测试</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 测试文章页 -->
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>测试文章页规则</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="testarc" method="post" onsubmit="return toVaild2()">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章页地址：</label>
                            <div class="input-group col-sm-6">
                                <input id="arcurl" type="text" class="form-control" name="arcurl" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章区域规则：</label>
                            <div class="input-group col-sm-6">
                                <input id="arcrange" type="text" class="form-control" name="arcrange" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交测试</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 列表页测试结果 -->
<div class="row">
    <div class="col-sm-6" id="showlist">
        <div class="ibox float-e-margins" >
            <div class="ibox-title">
                <div class="ibox-content">
                    <p style="color: green">列表页采集结果如下：</p>
                    <ul id="list_li">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="ibox float-e-margins" >
            <div class="ibox-title">
                <div class="ibox-content">
                    <p style="color: green">文章页采集结果如下：</p>
                    <div id="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/admin/js/content.min.js?v=1.0.0"></script>
<script src="/static/admin/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/static/admin/js/plugins/validate/messages_zh.min.js"></script>
<script src="/static/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/static/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/admin/js/plugins/layer/layer.min.js"></script>
<script type="text/javascript">

    //列表页测试结果
    function toVaild(){
        var jz;
        var url = "./testList";
        $.ajax({
            type:"POST",
            url:url,
            data:{'data' : $('#testlist').serialize()},// 你的formid
            async: false,
            beforeSend:function(){
                jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
            },
            error: function(request) {
                layer.close(jz);
                swal("网络错误!", "", "error");
            },
            success: function(data) {
                //关闭加载层
                layer.close(jz);
                if(data.code == 1){
                    var _html = '';
                    if( 0 == data.data.length){
                        swal('采集规则有误', "", "error");
                        return false;
                    }

                    $.each(data.data, function(k, v){
                        _html += '<li style="margin-top:10px"> <span style="color:red">标题</span> : '+ v.title +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">链接</span> : ' + v.url + '</li>';
                    });
                    $("#list_li").html(_html);
                }else{
                    swal(data.msg, "", "error");
                }

            }
        });

        return false;
    }

    //文章页测试结果
    function toVaild2(){
        var jz;
        var url = "./testArc";
        $.ajax({
            type:"POST",
            url:url,
            data:{'data' : $('#testarc').serialize()},// 你的formid
            async: false,
            beforeSend:function(){
                jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
            },
            error: function(request) {
                layer.close(jz);
                swal("网络错误!", "", "error");
            },
            success: function(data) {
                //关闭加载层
                layer.close(jz);
                if(data.code == 1){
                    if( 0 == data.data.length){
                        swal('采集规则有误', "", "error");
                        return false;
                    }
                    $("#content").html(data.data);

                }else{
                    swal(data.msg, "", "error");
                }

            }
        });

        return false;
    }

    //表单验证
    $(document).ready(function(){
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
    });
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        },
        success: function(e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });
</script>
</body>
</html>